body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.todo-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
}

.input-container {
  position: relative;
  gap: 10px;
  display: flex;
  margin-bottom: 10px;
}

.input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  max-width: calc(100% - 100px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input::placeholder {
  font-size: 16px;
}

.btn {
  padding: 8px 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 3px 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

li span {
  max-width: calc(100% - 30px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-del {
  margin-left: 5px;
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-del:hover {
  background-color: #bd2130;
}

.btnSort {
}
